# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.python-version

# Virtual Environment
.env
.venv
env/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
docs/_build/
.coverage
htmlcov/
.pytest_cache/
docs/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Other
*.tmp
*.tmp.*